body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.logo img{
    width:50px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}

.sign-in-form{
    /* height: 400px; */
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
    background-color: rgba(176, 170, 170, 0.536);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-in-form h1{
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.input-box{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border: 1px solid #999;
    outline: none;
    text-align: center;
}

button{
    color: lightskyblue;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor:pointer;
}
.text{
    color: #fff;
    font-size: 20px;
}
.text a:hover{
    color: blue;
}