<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <title>
        Mental Treat
    </title>

</head>
<body>
<!-- 
    <div class = "wrapper">
        <ul class = "nav-area">
            <li><a href ="{{ url_for('home') }}">Home</a></li>
            <li><a href ="{{ url_for('task_manager') }}">Create Task</a></li>
            <li><a href ="completedtask.html">Completed Task</a></li>
            <li><a href ="{{ url_for('meditation') }}">Meditation</a></li>
            <li><a href ="{{ url_for('logout') }}">Log Out</a></li>
            class= 'bx bxs-movie'>
        </ul>
    </div> -->

    <header>
            <div class = "logo">
                <img src="{{ url_for('static',filename='Logo2.png') }}" alt="Logo">
            </div>
            <div class= "bx bx-menu" id="menu-icon"></div>
            <ul class="navbar">

                <li><a href ="{{ url_for('home1') }}"  class="home-active">Home</a></li>
                <li><a href ="{{ url_for('task_manager') }}">Task Manager</a></li>
                <li><a href ="{{ url_for('meditation') }}">Meditation</a></li>
                <li><a href ="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
    </header>


    {% block content %} {% endblock %}

</body>

</html>