<!DOCTYPE html>
<html>
<head>
    <title>
        Sign Up Form
    </title>
    <link rel = "stylesheet" href = "style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <div class = "sign-up-form">
        <div class = "logo">
            <img src = "Logo2.png" alt = "Logo">
        </div>
        <h1>Create Account</h1>
        <form>
        <input type = "email" class="input-box" placeholder = "Enter Your Email">
        <input type = "password" class="input-box" placeholder = "Enter Your Password">
        <button type ="button"class = "signup-btn">Create Account</button>
        <hr>
        <span class="text">Already Registered?
            <a href="signin.html" class="text login-link">Log In Here</a>
        </span>
        </form>
    </div>

</body>
</html>
